################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/BuildingBlocks/ServiceManagement/src/.vs
