################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


.vs/microsvc/v15/.suo
.vs/slnx.sqlite
